.App{
   background-color: #f7f7f7;
   justify-content: space-between;
}

.dashboard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    height: 100%;
    width: fit-content;
    /* padding: 20px; */
 }
 
 .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }
 
 .logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
 }
 
 .logo-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
 }
 
 .export-btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: -20px;
 }
 
 .dashboard-content {
    display: flex;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    /* max-width: 1000px; */
    margin-left: 40px;
 }



 .observes1, .observes2{
    display: flex;
    /* justify-content: space-around; */
    /* margin-left: 40px; */
 }
 
 .video-feed {
    grid-column: span 2;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #eee;
    margin-left: 80px;
    width: 400px;
    height: 325px;
 }

 .video-stream {
   border-radius: 8px;
   max-width: 100%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
}
 
 .incubator-image {
    width: 400px;
    height: 500px;
    border-radius: 10px;
 }
 
 .video-label {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 255, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
 }
 
 .metric-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;
    height: 210px;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
 }

 .observes2 .metric-card{
   height: 200px;
 }

 .metric-card1{
   display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;
    height: 120px;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
 }

 .metric-head{
   font-size: 22px;
   font-weight: bold;
   margin-top: -2px;
 }

 .metric-head-color{
   font-size: 21px;
   font-weight: bold;
   margin-top: -3px;
   margin-bottom: 50px;
 }

 .metric-head-heart{
   font-size: 22px;
   font-weight: bold;
   margin-top: 9px;
 }

 .main ob{
    margin-left: -10px;
 }
 
 .metric-card h2 {
    margin-bottom: 10px;
    font-size: 18px;
 }
 
 .metric-icon1 {
    width: 100px;
    height: 100px;
    margin-top: -3px;
 }

 .metric-icon{
    width: 120px;
    height: 120px;
    margin-top: -70px;
    margin-bottom: -50px;
 }

 .metric-icon2 {
    width: 90px;
    height: 80px;
    /* margin-bottom: 10px; */
    margin-top: -30px;
 }
 
 .metric-value1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -97px;
 }

 .metric-value2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: -5px;
 }

 .metric-value{
    font-size: 24px;
    font-weight: bold;
    margin-top: -20px;
 }
 
 .metric-value1 .metric-value1 span {
    font-size: 14px;
 }

 .heart-rate-chart{
   height: 220px;
   width: 220px;
 }

 .heart-metrics {
   display: flex;
 }

 .sleep-metrics {
   display: flex;
   margin-left: -20px;
 }
 .temp-metrics {
   display: flex;
   margin-left: -60px;
 }
 
 .baby-color .color-display {
    width: 100px;
    height: 80px;
    border-radius: 5px;
    margin-top: -40px;
    justify-content: center;
 }

 .skin-tone {
   font-size: 20px;
   color: #000000;
   margin-top: 5px;
   font-weight: bold;
}
 
 .emergency-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;
    height: 180px;
    width: 200px;
    margin-right: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 60px;
 }

 .emgy-fix{
    display: flex;
    margin-top: -25px;
 }

 .emgy-text{
    margin-top: 4px;
 }

 .health-card{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;
    height: 180px;
    width: 900px;
    margin-right: -200px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
 }

 .card2{
    display: flex;
    margin-left: 90px;
    margin-top: -20px;
 }
 
 .sos-btn {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
 }
 
 .emergency-icon {
    width: 50px;
    height: 50px;
 }
 
 .footer {
    margin-top: 20px;
    text-align: center;
 }
 
 .health-status {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
 }
 
 .last-updated {
    font-size: 12px;
    color: gray;
    margin-left: 650px;
    margin-top: -10px;
 }

 
